:root {
    --header-background: #FFFFFF;
    --header-item: #212121;
    --text-hover-color: #2196F3;
    --button-background: #F5F4FA;
    --button-text: #212121;
    --button-background-hover: #2196F3;
    --button-text-hover: #FFFFFF;
    --photos-border: #EEEEEE;
    --photos-describe-text: #212121;
    --photos-type-text: #757575;
    --photos-figure-background: #EEEEEE;
    --photos-figcaption-background: #FFFFFF;
    --footer-background: #2F303A;
    --footer-text-adress: #FFFFFF;
    --footer-link: #FFFFFF99;
}

.color_blue {
    color: blue;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--header-background);
}

.header-link {
    font-weight: 500;
    line-height: 117%;
    color: var(--header-item);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-group-1 {
    display: flex;
}

.header-item-group-1 {
    margin-right: 50px;
}

.header-group-2 {
    display: flex;
}

.header-item-group-2 {
    margin-right: 30px;
    color: #757575;
}

.header-mail {
    color: #757575;
    fill: #757575;
}

.header-phone {
    color: #757575;
    fill: #757575;
}

.header-link:hover {
    color: var(--text-hover-color);
    fill: var(--text-hover-color);
}

.section-buttons {
    margin-top: 94px;
}

.buttons-list {
    display: flex;
    justify-content: center;
}

.buttons-item:not(:last-child) {
    margin-right: 30px;
}

.button {
    background-color: var(--button-background);
    color: var(--button-text);
    line-height: 117%;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 25px;
    border: 0;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: var(--button-background-hover);
    color: var(--button-text-hover);
    line-height: 117%;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 25px;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 0.4em #696969;
}

.fotos-figure {
    width: 370px;
    margin: 0;
    background-color: var(--photos-figure-background);
    border: solid 1px var(--photos-border);
    margin-bottom: 32px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fotos-figure:hover {
    box-shadow: 1px 1px 0.4em #696969;
}

.photos-figcaption {
    background-color: var(--photos-figcaption-background);
    padding: 20px 24px;
}

.photo {
    width: 100%;
}

.fotos-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.photo-description {
    color: var(--photos-describe-text);
    font-weight: 700;
    line-height: 200%;
    font-size: 18px;
    margin-bottom: 4px;
}

.photo-type {
    color: var(--photos-type-text);
    font-weight: 400;
    line-height: 187%;
    font-size: 16px;
    margin: 0;
}

.footer {
    background-color: var(--footer-background);
    padding: 60px 0;
}

.footer-p {
    color: var(--footer-text-adress);
    line-height: 171%;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.footer-text {
    color: var(--footer-link);
    font-size: 14px;
    line-height: 171%;
    font-weight: 400;
}

.footer-img {
    margin-bottom: 20px;
}

.footer-invite {
    color: var(--footer-text-adress);
    font-weight: 700;
    font-size: 14px;
    line-height: 117%;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-wrap-two {
    margin-left: 70px;
}

.footer-link {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    display: inline-block;
}

.footer-link:hover {
    background-color: #2196F3;
}

.sosial-media-icons-svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.figure-img-wrap {
    position: relative;
    overflow: hidden;
}

.photo-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background-color: #2196F3E5;
}

.fotos-figure:hover .photo-overlay {
    transform: translate(0);
}

.overlay-text {
    color: #FFFFFF;
    line-height: 155%;
    font-size: 18px;
    font-weight: 400;
    margin: 63px 24px;
}

.header-link_active {
    color: #2196F3;
    position: relative;
    width: 72px;
}

.header-link_active::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 4px;
    background-color: #2196F3;
    bottom: -28px;
    left: 0;
    border-radius: 2px;
}

.footer-subscribe {
    color: var(--footer-text-adress);
    font-weight: 700;
    font-size: 14px;
    line-height: 117%;
}

.footer-subscribe-button {
    font-weight: 700;
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
}

.footer-wrap-3-1 {
    display: flex;
}

.subscribe-input {
    border: 1px solid #FFFFFF4D;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    padding-left: 16px;
}

.footer-wrap-3-svg {
    fill: #FFFFFF;
    height: 24px;
    width: 24px;
    align-self: center;
}

.header-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}