:root {
    --header-background: #FFFFFF;
    --header-item: #212121;
    --section-effective-solutions: #2F303A;
    --effective-solutions-title: #FFFFFF;
    --text-hover-color: #2196F3;
    --effective-solutions-button-background: #2196F3;
    --effective-solutions-button-text: #FFFFFF;
    --descriptions-background: #FFF;
    --description-title: #212121;
    --description-text: #757575;
    --section-what-we-do-background: #FFF;
    --what-we-do-title: #212121;
    --section-team-background: #F5F4FA;
    --team-title: #212121;
    --team-figure-background: #FFFFFF;
    --team-text-name: #212121;
    --team-text-job: #757575;
    --footer-background: #2F303A;
    --footer-text-adress: #FFFFFF;
    --footer-link: #FFFFFF99;
    --description-icon-background: #F5F4FA;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--header-background);
}

.header-link {
    font-weight: 500;
    line-height: 117%;
    color: var(--header-item);
    text-decoration: none;
}

.header-group-1 {
    display: flex;
}

.header-item-group-1 {
    margin-right: 50px;
}

.header-group-2 {
    display: flex;
}

.header-item-group-2 {
    margin-right: 30px;
    color: #757575;
}

.header-mail {
    color: #757575;
    fill: #757575;
}

.header-phone {
    color: #757575;
    fill: #757575;
}

.header-link:hover {
    color: var(--text-hover-color);
    fill: var(--text-hover-color);
}

.section-effective-solutions {
    background-image: url('../img/section-background.png');
    padding: 200px 0px;
}

.effective-solutions-title {
    font-weight: 900;
    line-height: 136%;
    color: var(--effective-solutions-title);
    margin-bottom: 30px;
    font-size: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.effective-solutions-button {
    background-color: var(--effective-solutions-button-background);
    color: var(--effective-solutions-button-text);
    font-weight: 700;
    line-height: 187%;
    margin: 0 auto;
    display: block;
}

.section-description {
    background-color: var(--descriptions-background);
    padding: 94px 0;
}

h3.description-title {
    color: var(--description-title);
    font-weight: 700;
    line-height: 114%;
}

p.description-text {
    color: var(--description-text);
    font-weight: 400;
    line-height: 171%;
}

.section-what-we-do {
    background-color: var(--section-what-we-do-background);
    padding: 94px 0;
}

.what-we-do-title {
    line-height: 116%;
    color: var(--what-we-do-title);
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.section-team {
    background-color: var(--section-team-background);
    padding: 94px 0;
}

h1.team-title {
    color: var(--team-title);
    line-height: 116%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.team-figure {
    margin: 0;
    width: 270px;
    background-color: var(--team-figure-background);
    box-shadow: 0 2px 3px #000000;
    ;
}

.team-photo {
    width: 100%;
    height: 260px;
}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-text-name {
    font-weight: 500;
    color: var(--team-text-name);
    line-height: 118%;
    font-size: 16px;
    text-align: center;
}

.team-text-job {
    font-weight: 400;
    color: var(--team-text-job);
    line-height: 118%;
    font-size: 16px;
    text-align: center;
}

.footer {
    background-color: var(--footer-background);
    padding: 60px 0;
}

.footer-p {
    color: var(--footer-text-adress);
    line-height: 171%;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

.footer-text {
    color: var(--footer-link);
    font-size: 14px;
    line-height: 171%;
    font-weight: 400;
}

.footer-img {
    margin-bottom: 20px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.description-list {
    display: flex;
    justify-content: space-evenly;
}

.description-item {
    width: 270px;
}

.description-item::before {
    background-color: var(--description-icon-background);
    width: 100%;
    padding: 25px 0;
    display: block;
    text-align: center;
}

.description-item-1::before {
    content: url('../img/antenna.png');
}

.description-item-2::before {
    content: url('../img/Clock.png');
}

.description-item-3::before {
    content: url('../img/computer-diagram.png');
}

.description-item-4::before {
    content: url('../img/astronaut.png');
}

.footer-invite {
    color: var(--footer-text-adress);
    font-weight: 700;
    font-size: 14px;
    line-height: 117%;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-wrap-two {
    margin-left: 70px;
}

.section-regular-clients {
    padding: 94px 0;
}

.regular-clients-link {
    border: 1px solid grey;
    width: 170px;
    display: block;
    text-align: center;
}

.regular-clients-link:hover {
    border: 1px solid #2196F3;
}

.regular-clients-svg:hover {
    fill: #2196F3;
}

.regular-clients-svg {
    width: 106px;
    height: 60px;
    padding: 16px 32px;
    fill: #AFB1B8;
}

.sosial-media-icons-svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.footer-link {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    display: inline-block;
}

.footer-link:hover {
    background-color: #2196F3;
}

.people-sosial-media-icons-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    padding: 10px;
}

.people-sosial-media-icons-svg:hover {
    fill: #FFFFFF;
}

.people-link {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 16px;
}

.people-link:hover {
    background-color: #2196F3;
}

.people-sosial-icon {
    text-align: center;
}

.what-we-do-item {
    position: relative;
}

.what-we-do-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.what-we-do-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    background-color: #2F303ACC;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 117%;
    padding: 27px 0 27px 0;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: auto;
    /* Enable scroll if needed */
    display: flex;
    /* New */
    align-items: center;
    /* New */
    justify-content: center;
    /* New */
}

/* Modal Content */
.modal-content {
    position: relative;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #888;
    background-color: #fefefe;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* This class is added/removed to show/hide the modal */
.is-hidden {
    display: none;
}

/* This class is added to the body to prevent scrolling when the modal is open */
.no-scroll {
    overflow: hidden;
}

.form-input {
    border-radius: 4px;
    width: 448px;
}

.input-with-icon:nth-child(-n+3) {
    padding-left: 30px;
    height: 40px;
    width: 418px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-checkbox::after {
    content: ("Погоджуюся з розсилкою та приймаю Умови договору");
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.icon {
    position: absolute;
    left: 10px;
    /* Position the icon inside the input */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* Prevent the icon from blocking input interactions */
    color: #aaa;
    /* Icon color */
}

.footer-subscribe {
    color: var(--footer-text-adress);
    font-weight: 700;
    font-size: 14px;
    line-height: 117%;
}

.footer-subscribe-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 187.5%;
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-left: 12px;
}

.footer-wrap-3-1 {
    display: flex;
}

.footer-input {
    border: 1px solid #FFFFFF4D;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    padding-left: 16px;
}
.footer-wrap-3-svg {
    fill: #FFFFFF;
    height: 24px;
    width: 24px;
    align-self: center;
}