$white: #FFFFFF;
$black: #212121;
$dark-blue: #2F303A;
$light-blue: #2196F3;
$grey: #757575;
$lighter-white: #F5F4FA;
$light-grey: #FFFFFF99;
$dark-grey: #FFFFFF1A;
$white-grey: #F5F4FA;
$darkblue-darkgrey: #2F303ACC;
$absolute-black: #000000;
$greyer: #AFB1B8;
$lighter-black: #21212133;
$modal-white: #fefeff;
$rgba-black: rgba(0, 0, 0, 0.4);